body {
  width: 100%;
}
#section-metodos {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 15px;
  flex: 1;
}

h3 {
  margin-left: 20px;
  flex: 1;
}

.nome-metodo {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #334666;
  color: #f1f1f1;
}

#btExpandir,
#btOcultar {
  all: inherit;
  display: flex;
  height: 40px;
  margin-right: 20px;
  /* background-color: #f1f1f1; */
  border-radius: 50%;
  width: fit-content;
}

#btExpandir {
  background-color: #f1f1f1;
}

#btExpandir img {
  transition: transform 0.3s ease; /* Adiciona animação suave */
}

.metodo {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.metodo img {
  height: 40px;
  border-radius: 50%;
}

label {
  margin: 10px 10px 10px 20px;
}

input {
  margin-right: 20px;
}

.info-metodo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

/* Esconde por defeito para a lógica de expandir funcionar */
.info-metodo.hidden {
  display: none;
}

.info-metodo,
.info {
  background-color: #f1f1f1;
  display: flex;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between; /* Alinha label à esquerda e input à direita */
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.info label {
  margin: 0;
  font-weight: 500;
  color: #334666;
}

.info input {
  margin: 0;
  width: 50%; /* Ajusta a largura do input */
  text-align: right;
  padding: 8px;
  font-size: 16px;
}

#div-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

#btSalvar {
  width: 50%;
  margin-top: 15px;
  margin-bottom: 0;
}
